/* Reset */
*{
	margin: 0px;
	padding: 0px;
	font-family: 'PT Sans', sans-serif;
}

nav, ul{
	list-style: none;
}

button, li, a{
    text-decoration: none;
	cursor: pointer;
}

input, button{
	outline: none;
	border: none;
}


/* Main */
.main{
	background-color: #fcdb00;
	padding: 8px 200px 100px 200px;
}

.main header{
	display: flex;
    align-items: center;
	justify-content: space-between;
	padding-top: 50px;
}

.main header .logo{
	display: flex;
	align-items: center;
}

.main header p{
	padding-left: 9px;
	font-weight: bold;
	padding-left: 9px;
	font-size: 1.5rem;
}

.main header nav{
	display: flex;
}

.main header nav li{
    margin: 0px 15px;
}

.main header nav li:first-child{
    margin-left: 0;
}

.main header nav li:last-child{
    margin-right: 0;
}

.main header nav li a{
	color: #000;
	font-weight: bold;
}

/* Main/Content */

.main .content{
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.main .content article{
	width: 400px;
	margin-top: 50px;
}

.main .content article h1{
	font-size: 2rem;
}

.main .content article h2{
	font-size: 1.1rem;
	color: #313131;
	font-weight: lighter;
	padding: 10px 0;
}

.main .content article p{
	color: #555;
}

.main .content ul{
	display: flex;
}

.main .content ul li{
	font-size: 40px;
	padding-top: 20px;
	padding-right: 20px;
}

/* Main/Ipad */

.main .ipad-body{
	width: 300px;
	height: 400px;
	background-color: #fff;
	border-radius: 15px;
	position: relative;
}

.main .ipad-screem{
	height: 350px;
	width: 250px;
	background-color: #000;
	margin: 0 auto;
	position: absolute;
	top: 25px;
	left: 25px;
}

.main .ipad-logo{
	display: flex;
	align-items: center;
	margin-top: 153px;
	margin-left: 60px;
}

.main .ipad-logo p{
	color: #fcdb00;
	font-weight: bold;
	padding-left: 9px;
	font-size: 1.5rem;
}

/* Media Queries */

@media(max-width: 1280px){
	.main{
		padding: 8px 100px 100px 100px;
	}
}

@media(max-width: 1024px){

	/* main */
	.main{
		padding: 8px 100px 100px 100px;
	}

	/* Main/Content */

	.main .content article{
		width: 300px;
	}

	.main .content article h1{
		font-size: 1.5rem;
	}

	.main .content article h2{
		font-size: 0.9rem;
		padding: 10px 0;
	}

	/* Main/Ipad */

	.main .ipad-body{
		height: 380px;
		width: 280px;
		border-radius: 12px;
	}

	.main .ipad-screem{
		height: 330px;
		width: 230px;
	}

	.main .ipad-logo{
		margin-top: 145px;
		margin-left: 55px;
	}

	.main .ipad-logo p{
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 768px){
	.main{
		padding: 8px 50px 100px 50px;
	}

	.main header{
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 320px) and (max-width: 766px){

	.main{
		padding: 8px 50px 100px 20px;
	}

	.main header{
		display: flex;
		flex-direction: column;
		padding-top: 10px;
	}

	.main header .logo{
		padding-bottom: 30px;
	}

	.main .content{
		padding-top: 0px;
	}

	.ipad-body{
		display: none;
	}
}


/* Features */

.features{
	padding: 100px 200px;
}

.features h2{
	text-align: center;
}

.features > p{
	text-align: center;
	padding-bottom: 80px;
}

.features .grid{
	width: 100%;
    display: flex;
	flex-wrap: wrap;
}

.features .grid li.grid-2{
	padding: 20px 20px;
}

.features .grid li.grid-2{
	flex-basis: 28.4%;
}

.features .grid li i{
	font-size: 50px;
	padding-right: 20px;
}

.features .grid li h3{
	font-size: 1rem;
}

.features .grid .grid-2 i{
	float: left;
}

/* Media Queries */

@media(max-width: 1280px){
	.features{
		padding: 100px 100px;
	}
}

@media(max-width: 1024px){

	.features{
		padding: 100px 100px;
	}
}

@media(max-width: 768px){

	.features{
		padding: 100px 50px;
	}

	.features .grid{
		display: flex;
		flex-direction: column;
	}

	.features .grid li i{
		font-size: 40px;
	}


	.features .grid li.grid-2{
		padding: 20px 0px;
	}

	.features .grid li.grid-2:last-child{
		padding-bottom: 0px;
	}
}

@media(max-width: 320px){

	.features{
		padding: 100px 20px;
	}

	.features .grid{
		display: flex;
		flex-direction: column;
	}
}


/* Footer */

footer{
	padding: 80px 200px;
	background-color: black;
}


footer h2{
	color: #fcdb00;
	text-align: center;
}

footer p{
	color: #717171;
	text-align: center;
	padding-bottom: 50px;
}

footer form{
	display: flex;
	justify-content: center;
}

footer input{
	display: flex;
	height: 40px;
	width: 600px;
	border-radius: 4px;
	margin-right: 20px;
	padding: 0px 10px;
}

footer button{
	background-color: #fcdb00;
	border-radius: 4px;
	height: 40px;
	width: 80px;
	text-transform: uppercase;
	padding: 0px 20px;
}

footer .socialMidia{
	display: flex;
	padding-top: 40px;
	padding-bottom: 80px;
	justify-content: center;
}

footer .socialMidia li{
    margin-right: 20px;
}

footer .socialMidia li:last-child{
    margin-right: 0;
}

footer .socialMidia li a{
	color: #fcdb00;
	font-size: 30px;
}

footer .footer-grid .small li {
	color: #ffffff;
}

footer .footer-grid .footerMenu li a{
	color: #ffffff;
}

.footer-grid{
	display: flex;
	justify-content: space-between;
}


.footer-grid .footerMenu:last-child{
	padding-right: 0;
}

/* Media Queries */

@media(max-width: 1280px){
	footer{
		padding: 100px 100px;
	}
}

@media(max-width: 1024px){

	footer{
		padding: 100px 100px;
	}
}

@media(max-width: 768px){

	footer{
		padding: 100px 50px;
	}

	.footer-grid{
		display: flex;
	}
}

@media(min-width: 320px) and (max-width: 766px){

	footer .footerMenu li{
		display: none;
	}
}
